<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Pico & Placa Predictor</h1>
    <label>Enter the following information to know whether or not your car can be on the road.</label>
    <form method="post">
        <label for="plateNumber">License plate number:</label>
        <input type="text" id="plateNumber" name="plateNumber"><br><br>
        <label for="date">Date:</label>
        <input type="text" id="date" name="date"><br><br>
        <label for="hour">Hour:</label>
        <input type="text" id="hour" name="hour"><br><br>
        <input type="submit">
    </form>
    <p th:text="${validation}" />
</body>
</html>
